@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100%;
  background-color: #E4F4FD;
}